<div class="game_wrapper">
  <h3>DEALER</h3>
  <span class="subtitle" >
    <% if @action == "stand" && @game.score(@game.player_hand) <= 21 %>
      &nbsp;&nbsp;Score: <%= @game.score(@game.dealer_hand) %>
    <% end %>
  </span>
  </br>
  </br>
  <% if @action == "stand" && @game.score(@game.player_hand) <= 21 %>
    <% @game.dealer_hand.each do |card| %>
      <img src="/cards/<%= card %>.png">
    <% end %>
  <% else %>
    <img src="/cards/cardback.png">
    <img src="/cards/<%= @game.show_dealer_hand %>.png">
  <% end %>
  </br></br>

  <h3>PLAYER</h3>
    &nbsp;&nbsp;<span class="subtitle" >Score: <%= @game.score(@game.player_hand) %></span></br>
  </br></br>

  <% @game.player_hand.each do |card| %>
    <img src="/cards/<%= card %>.png">
  <% end %>
  <% if @action == "blackjack" %> BLACKJACK!!! <% end %>

  </br></br>

  <span class="subtitle" >Balance: &nbsp;&#36;<span id="wallet_balance"><%= @wallet.balance %></span></br>
  Current Bet: &nbsp;&#36;<%= @bet %></span>

  </br></br>

  <% if !@game.bust?() && @action != "stand" && @action != "blackjack" %>
    <form action="/" method="post">
      <button formmethod="post" name="hit" value="<%= @id %>">Hit Me!</button>
    </form>

    <form action="/" method="post">
      <button formmethod="post" name="stand" value="<%= @id %>">Stand</button>
    </form>

    <% if @wallet.balance >= @bet %>
      <form action="/" method="post">
        <button formmethod="post" name="double_down" value="<%= @id %>">Double Down</button>
      </form>
    <% end %>

  <% else %>
    <form action="/" method="post" name="new_bet" onsubmit="return validateBet()" >
  <% if @wallet.balance > 0 %>
      <span class="subtitle" >BET: </span><input type="text" name="bet" id="bet" size="5" value="100"/>
      <div id="new_bet_warning"></div></br>
  <% end %>
      <button type="submit" onclick="validateBet" name="next_hand" value="<%= @id %>">
        <% if @wallet.balance > 0 %> Next Hand
        <% else %> Game Over!
        <% end %>
      </button>
    </form>
  <% end %>
</div>
<script type="text/javascript">
  function validateBet() {
    if (document.new_bet.bet.value > 0 && document.new_bet.bet.value <= <%= @wallet.balance %>) {
      document.getElementById("new_bet_warning").innderHTML = "";
      return true;
    } else {
      document.getElementById("new_bet_warning").innerHTML = "<%= "*Must be between 0 and #{@wallet.balance}" %>";
      return false;
    };
  }
</script>
