DEALER:
<% if @action == "stand" %>
  (score: <%= @game.score(@game.dealer_hand) %>)
<% end %>

</br>
<% if @action == "stand" %>
  <% @game.dealer_hand.each do |card| %>
    <img src="/cards/<%= card %>.png">
  <% end %>
<% else %>
  <img src="/cards/cardback.png">
  <img src="/cards/<%= @game.show_dealer_hand %>.png">
<% end %>
</br></br>

PLAYER: (score: <%= @game.score(@game.player_hand) %>)

</br>

<% @game.player_hand.each do |card| %>
  <img src="/cards/<%= card %>.png">
<% end %>
<% if @action == "blackjack" %> BLACKJACK!!! <% end %>

</br></br>

Balance: <%= @wallet.balance %>

</br></br>

<% if !@game.bust?() && @action != "stand" %>
  <form action="/" method="post">
    <button formmethod="post" name="hit" value="<%= @id %>">Hit Me!</button>
  </form>

  <form action="/" method="post">
    <button formmethod="post" name="stand" value="<%= @id %>">Stand</button>
  </form>
<% else %>
  <form action="/" method="post">
    <button formmethod="post" name="next_hand" value="<%= @id %>">Next Hand</button>
  </form>
<% end %>
